.container {
  margin: o auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  gap: 20px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 320px;
  }
}
 
@media screen and (max-width: 320px) {
  .container {
      width: 250px;
  }
}