.cast_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px 0;
  width: 1150px;
}

.cast_card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
}

.cast_card:hover {
  transform: scale(1.1);
}

.cast_img {
  width: 200px;
  height: 240px;
  object-fit: cover;
}

.cast_name {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 5px;
}

.cast_role {
  font-size: 14px;
  text-align: center;
  padding: 5px;
  text-wrap: wrap;
}

.no_cast_div {
  margin: 25px;
  align-self: center;
  border: 1px solid black;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}
.no_cast_div:hover {
  transform: scale(1.1);
}
.span {
  font-size: 18px;
  align-self: center;
}
